<div class="container-fluid" ng-controller="CastController as cast">
  <div class="row">
    <div class="col">
       <div class="alert alert-dismissible alert-danger" role="alert" ng-if="errorMessage">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>{{errorMessage}}</strong>
        </div>
    </div>
  </div>

  <div class="row row-green">
    <h1 align="center">ChromeCaster</h1>
  </div>

  <div ng-controller="DeviceController as dev_controller"
       ng-init="toggle[$index] = true; dev_controller.listDevices()">

  <!-- toggle to single row if device and media_list are available -->
  <div ng-if="dev_controller.device != '' && cast.media_list != null">
    <div ng-init="toggle[$index] = false"></div>
  </div>

  <!-- Media directory and devices as single row -->

  <div class="row row-green form-group" ng-if="!toggle[$index]">
    <div class="col col-md-1">
      <a class="btn btn-link" ng-click="toggle[$index] = !toggle[$index]">
        <span class="glyphicon glyphicon-chevron-right" ng-if="!toggle[$index]"></span>
        <span class="glyphicon glyphicon-chevron-down" ng-if="toggle[$index]"></span>
      </a>
    </div>
    <div class="col-md-offset-1 col-md-4">
      <form class="form form-inline" autocomplete="on">
        <label for="path">Media directory</label>
        <input class="form-control" name="path" type="text" id="path"
               placeholder="Enter media folder"
               ng-model="cast.path" ng-keypress="cast.mediaPath($event)">
        </form>
    </div>
    <div class="col col-md-offset-1 col-md-5 form-group">
        <label for="devices">Devices</label>
        <div ng-if="!dev_controller.devices">
          Loading...
        </div>
        <div ng-if="dev_controller.devices" class="btn-group">
          <div id="devices" ng-repeat="device in dev_controller.devices track by $index">
            <button class="btn btn-round" type="button"
                    ng-class="dev_controller.device === dev_controller.devices[$index] ? 'btn-inverse' : 'btn-default' "
                    ng-click="dev_controller.connectDevice(dev_controller.devices[$index])">
                    {{dev_controller.devices[$index]}}
            </button>
          </div>
        </div>
        <br>
      </div>
  </div>

  <!-- Media directory and devices as page form -->
  <div class="row row-green" ng-if="toggle[$index]">
    <div class="col col-md-1">
      <a class="btn btn-link" ng-click="toggle[$index] = !toggle[$index]">
        <span class="glyphicon glyphicon-chevron-right" ng-if="!toggle[$index]"></span>
        <span class="glyphicon glyphicon-chevron-down" ng-if="toggle[$index]"></span>
      </a>
    </div>
    <div class="col col-md-offset-2 col-md-6 form-group">
      <div style="padding-top: 50px;">
        <strong>Step 1: Enter a local media directory to load files</strong>
      </div>
      <div style="padding-top: 20px;">
        <form class="form" autocomplete="on">
          <input class="form-control" name="path" type="text" id="path2"
                 placeholder="Enter media folder"
                 ng-model="cast.path" ng-keypress="cast.mediaPath($event)">
        </form>
      </div>
      <div style="padding-top: 50px;">
        <strong>Step 2: Select a Chromecast device</strong>
      </div>
      <div style="padding-top: 20px;">
        <div ng-if="!dev_controller.devices">
          Loading devices...
        </div>
        <div ng-if="dev_controller.devices" class="btn-group">
          <div ng-repeat="device in dev_controller.devices track by $index">
            <button class="btn btn-round" type="button"
                    ng-class="dev_controller.device === dev_controller.devices[$index] ? 'btn-inverse' : 'btn-default' "
                    ng-click="dev_controller.connectDevice(dev_controller.devices[$index])">
                    {{dev_controller.devices[$index]}}
            </button>
          </div>
        </div>
      </div>
      <div style="padding-top: 50px;">
        <strong>Step 3: Select media files in the left pane or drag them to the media queue</strong>
      </div>
      <div style="padding-top: 50px; padding-bottom: 50px;">
        <strong>Step 4: Press 'Play'</strong>
      </div>
    </div>
  </div> <!-- end of form row -->
  </div>

  <br /><br />
  <div class="row">
    <!-- Right/top: media playback -->
    <div id="media-playback" class="col col-md-6 col-md-push-6">
        <ng-include src="'static/views/media_control.html'"></ng-include>
    </div>

    <!-- Left/bottom: media listing -->
    <div id="media-display" class="col col-md-6 col-md-pull-6">
      <div ng-if="cast.media_list.length > 0">
        <div class="bar">
                <i class="fa fa-lg fa-table" ng-class="{active: cast.layout === 'table'}" ng-click="cast.layout = 'table'"></i>
                <i class="fa fa-lg fa-list" ng-class="{active: cast.layout === 'list'}" ng-click="cast.layout = 'list'"></i>
                <i class="fa fa-lg fa-sitemap" ng-class="{active: cast.layout === 'tree'}" ng-click="cast.layout = 'tree'"></i>
        </div>
        <br />
        <div ng-if="cast.layout === 'tree'">
            <ng-include src="'static/views/media_tree.html'"></ng-include>
        </div>
        <div ng-if="cast.layout === 'list'">
            <ng-include src="'static/views/media_list.html'"></ng-include>
        </div>
        <div ng-if="cast.layout === 'table'">
            <ng-include src="'static/views/media_table.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
