  <div class="row row-wrap" ng-repeat="media in cast.media_list">
      <div class="col-md-10">
        <a href="#media" ng-click="cast.load(media)"
           data-drag="true" ng-model="cast.media_list"
           jqyoui-draggable="{onStart: 'cast.drag_start', index: {{$index}}}">
             {{media.name}}
        </a>
      </div>
      <div class="col-md-2">
        {{media.duration}}
      </div>
  </div>
