  <div ng-if="cast.media_tree">
      <input class="input-sm" type="text" data-ng-model="filterString" placeholder="Filter" />
      <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
      <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
      <tree-grid tree-data="cast.media_tree" tree-control="my_tree" col-defs="col_defs"
                 on-click="cast.load(branch)", expand-on="expanding_property"></tree-grid>
  </div>
