  <div class="row">
    <ul ng-if="cast.media_finished != []">
      <li ng-repeat="media in cast.media_finished">
        <span class="media-finished">{{media.name}}</span>
      </li>
    </ul>
  </div>

  <div class="row">
  <div id="media" class="panel panel-default">
    <div ng-if="!cast.media">No media selected</div>
    <div ng-if="cast.media">

      <!-- Load previous item from finished list -->
      <div class="row text-center"
           ng-if="cast.media_finished.length > 0"
           ng-click="cast.previous_queue_item()">
              <i class="glyphicon glyphicon-medium glyphicon-chevron-up"></i>
      </div>

      <!-- Media title and state -->
      <div class="panel-heading row row-wrap">
        <div class="col col-xs-9">
            <h3><strong>{{cast.media.name}}</strong></h3>
        </div>
        <div class="col col-xs-3">
             <h3><span class="label label-default">{{cast.state | uppercase}}</span></h3>
        </div>
      </div>

      <hr>

      <div class="panel-body">
          <!-- Progress -->
          <div class="row">
            <div class="col-xs-8 col-xs-offset-1">
              <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="cast.media.progress_pct"
                                            style="width: {{cast.media.progress_pct}}%"
                                            aria-valuemin="0" aria-valuemax="100">
                  </div>
              </div>
            </div>
            <div class="col-xs-2">
                <span>{{cast.elapsed| secondsToDateTime | date:'HH:mm:ss'}}/{{cast.media.duration}}</span>
            </div>
          </div>

          <br />

          <!-- Controls -->
          <div class="row">
              <div class="col-xs-2 col-xs-offset-1">
                <span class="glyphicon glyphicon-large glyphicon-backward" ng-if="!cast.media.transcode"
                      ng-click="cast.active_ctrl = ''; cast.rewind(30)"></span>
              </div>
              <div class="col-xs-2">
                <span class="glyphicon glyphicon-large glyphicon-play"
                      ng-style="cast.active_ctrl === 'play' && {'color':'red'} || {'color':'black'}"
                      ng-click="cast.active_ctrl = 'play'; cast.state == 'paused' ? cast.resume() : cast.play(cast.media)"></span></div>
              <div class="col-xs-2">
                <span class="glyphicon glyphicon-large glyphicon-pause"
                      ng-style="cast.active_ctrl === 'pause' && {'color':'red'} || {'color':'black'}"
                      ng-click="cast.active_ctrl = 'pause'; cast.pause()"></span></div>
              <div class="col-xs-2">
                <span class="glyphicon glyphicon-large glyphicon-stop"
                      ng-style="cast.active_ctrl === 'stop' && {'color':'red'} || {'color':'black'}"
                      ng-click="cast.active_ctrl = 'stop'; cast.stop()"></span></div>
              <div class="col-xs-2">
                <span class="glyphicon glyphicon-large glyphicon-forward" ng-if="!cast.media.transcode"
                      ng-click="cast.active_ctrl = ''; cast.skip(1500)"></span>
              </div>
          </div> <!-- end row -->

          <br>

          <!-- Volume -->
          <div class="row">
              <div class="col-xs-2 col-xs-offset-2">
                <span class="glyphicon glyphicon-medium glyphicon-volume-down"
                      ng-click="cast.volume(-0.2)"></span></div>
              <div class="col-xs-2">
                <span class="glyphicon glyphicon-medium glyphicon-volume-up"
                      ng-click="cast.volume(0.2)"></span></div>
              <div class="col-xs-2">
                <span class="glyphicon glyphicon-medium glyphicon-volume-off"
                      ng-click="cast.volume(-1.0)"></span></div>
              <div class="col-xs-2">
                <span class="glyphicon glyphicon-medium glyphicon-subtitles"
                      ng-click="cast.media.subtitles_on = !cast.media.subtitles_on; cast.subtitles(cast.media.subtitles_on)"
                      ng-style="cast.media.subtitles_on && {'color': 'black'} || {'color': 'lightgrey'}"></span></div>
          </div>

          <!-- Playback options -->
          <div ng-if="!cast.state || cast.state === 'stopped'">
              <hr>
              <div class="row">
                <div class="col-xs-12">
                    <span>Playback options</span>
                </div>
              </div>

              <!-- Subtitles -->
              <div class="row row-wrap" ng-if="cast.media.subtitles">
                <div class="col-xs-1 col-xs-offset-1">
                    <input type="checkbox" ng-model="cast.media.subtitles_on" ng-checked="cast.media.subtitles_on">
                </div>
                <div class="col-xs-8">
                  {{cast.media.subtitles}}
                </div>
              </div>

              <!-- Transcoding -->
              <div class="row">
                <div class="col-xs-1 col-xs-offset-1">
                    <input type="checkbox" ng-model="cast.media.transcode" ng-checked="cast.media.transcode">
                </div>
                <div class="col-xs-6">
                    <span>transcode</span>
                </div>
              </div>
          </div>

          <!-- Load next item from queue -->
          <div class="row text-center"
               ng-if="cast.media_queue.length > 0"
               ng-click="cast.next_queue_item()">
                  <i class="glyphicon glyphicon-medium glyphicon-chevron-down"></i>
          </div>
      </div> <!-- end panel-body -->
      </div> <!-- div if cast.media -->
  </div> <!-- end panel -->
  </div> <!-- end row -->

  <!-- Media queue -->
  <div
       data-drop="true" data-jqyoui-options ng-model="cast.media_queue" jqyoui-droppable
       style="border-style: solid; border-width: 1px; border-color: lightgrey; padding-top: 0px;">
      <div ng-if="cast.media_queue.length > 0" style="padding-top: 10px;">
        <div ng-repeat="media in cast.media_queue track by $index"
            ng-model="cast.media_queue"
            ng-init="toggle[$index] = false"
            data-drop="true" data-drag="true"
            jqyoui-droppable="{index: {{$index}}}"
            jqyoui-draggable="{onStart: 'cast.drag_start', index: {{$index}}, insertInline: true, direction:'jqyouiDirection'}"
            data-jqyoui-options="{revert: 'invalid'}"
            data-direction="{{item.jqyouiDirection}}">

            <div class="row" style="padding-bottom: 10px;">
              <div class="col-xs-1">
                <a class="btn btn-link" ng-click="toggle[$index] = !toggle[$index]">
                  <span class="glyphicon glyphicon-chevron-right" ng-if="!toggle[$index]"></span>
                  <span class="glyphicon glyphicon-chevron-down" ng-if="toggle[$index]"></span>
                </a>
              </div>
              <div class="col-xs-9">
                <a class="row-wrap" href="#media" ng-click="cast.load_from_queue(media)" style="padding-right:10px;">
                    {{media.name}}
                </a>
              </div>
              <div class="col-xs-1">
                <i class="col-xs-1 glyphicon glyphicon-remove" ng-click="cast.remove_from_queue(media)"></i>
              </div>
            </div>

            <div ng-if="toggle[$index]" style="padding-bottom: 10px;">
              <!-- Subtitles -->
              <div class="row row-wrap" ng-if="media.subtitles">
                <div class="col-xs-1 col-xs-offset-1">
                    <input type="checkbox" ng-model="cast.media_queue[$index].subtitles_on">
                </div>
                <div class="col-xs-10">
                  {{media.subtitles}}
                </div>
              </div>

              <!-- Transcoding -->
              <div class="row">
                <div class="col-xs-1 col-xs-offset-1">
                    <input type="checkbox" ng-model="cast.media_queue[$index].transcode">
                </div>
                <div class="col-xs-10">
                    <span>transcode</span>
                </div>
              </div>
            </div>
        </div>
      </div>
      <hr />
      <div class="text-center" style="height:30px;">
          <span>Drop items here to add them to the media queue</span>
      </div>
  </div>
