  <table st-table="media_list" st-safe-src="cast.media_list" class="table table-striped">
      <thead>
          <tr>
	    <th><input st-search="name" class="input-sm form-control" placeholder="search ..." type="search"/></th>
	  </tr>
          <tr>
	           <th st-sort="name">Title</th>
	           <th st-sort="duration">Duration</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="media in media_list">
            <td>
              <a class="row-wrap" href="#media" ng-click="cast.load(media)"
                 data-drag="true" ng-model="cast.media_list"
                 jqyoui-draggable="{onStart: 'cast.drag_start', index: {{$index}}}">
                  {{media.name}}
                </a>
            </td>
            <td>{{media.duration}}</td>
          </tr>
      </tbody>
  </table>
